<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheAlpsHotel_umali">
        <activity
            android:name=".MyBookingsActivity"
            android:exported="false"
            android:label="@string/title_activity_my_bookings"
            android:theme="@style/Theme.TheAlpsHotel_umali" />
        <activity
            android:name=".HotelRatings"
            android:exported="false"
            android:label="@string/title_activity_hotel_ratings"
            android:theme="@style/Theme.TheAlpsHotel_umali" />
        <activity
            android:name=".BookingManager"
            android:exported="false"
            android:label="@string/title_activity_booking_manager"
            android:theme="@style/Theme.TheAlpsHotel_umali" />
        <activity
            android:name=".BookingConfirmActivity"
            android:exported="false"
            android:label="@string/title_activity_booking_confirm"
            android:theme="@style/Theme.TheAlpsHotel_umali" />
        <activity
            android:name=".AccountPage"
            android:exported="false"
            android:label="@string/title_activity_account_page"
            android:theme="@style/Theme.TheAlpsHotel_umali" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TheAlpsHotel_umali">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>